{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            {% if user is not null %}
            <h1 class="my-5 text-center">Informations du profil</h1>
            <table class="table mt-5">
                <tbody>
                    <tr>
                        <th scope="row">Prénom</th>
                        <td>{{ user.firstname }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Nom de famille</th>
                        <td>{{ user.lastname }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Adresse email</th>
                        <td>{{ user.email }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Nom d'utilisateur</th>
                        <td>{{ user.username }}</td>
                    </tr>
                </tbody>
            </table>
            {% else %}
            <p class="text-center">Vous devez vous connecter pour accéder à cette page.</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
