{% extends 'base.html.twig' %}

{% block title %}Hello FrontController!{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('app.css') }}">
{% endblock %}

{% block body %}
<body>
    {# <div class="d-flex align-items-center justify-content-center" style="height: 100%; width: 100%;">
        <video autoplay muted loop style="width: 100%; height: 100%;">
            <source src="{{ asset('nature.mp4') }}" type="video/mp4">
        </video>
    </div> #}

    <div class="header">
        <div class="header-div">
            <h1 class="header2-title">GLEENER</h1>
            <p class="header2-paragraph">Explorez le monde sans laisser de traces</p>
            <p class="header2-paragraph2">Projet Tutoré 304 </p>
            <a href={{ path('app_posts') }} class="header2-button">Découvrez nos offres</a>
        </div>
    </div>

    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6">
                <h2>Séjour de voyage</h2><br>
                <h6>"Un séjour voyage écotouristique pour se ressourcer en pleine nature"</h6><br>
                <p>Découvrez les merveilles de la nature et ressourcez-vous lors d'un séjour écotouristique. Vous pourrez explorer des destinations uniques, comme les forêts tropicales et les déserts arides, ainsi que découvrir la faune sauvage.
                Pour garantir une expérience respectueuse de l'environnement, nous avons sélectionné des hébergements écologiques, tels que des lodges rustiques, des bungalows en bois et des tentes confortables en pleine nature. Ces hébergements ont été conçus pour offrir une expérience authentique et harmonieuse avec la nature.
                Des activités écotouristiques sont également proposées, telles que des randonnées guidées, des promenades en bateau, des observations d'animaux sauvages et des cours de cuisine locale. Cette immersion dans la nature vous permettra de découvrir de nouvelles cultures et de vivre une expérience inoubliable, tout en contribuant à la protection de notre planète.
                </p>
            </div>
            <div class="col-md-6">
                <h2>Séjours inspirants</h2><br>
                <h6>"Séjours éco-responsables : Explorez la nature tout en respectant l'environnement"</h6><br>
                <p>L'écotourisme est de plus en plus populaire auprès des voyageurs cherchant à explorer la nature et à découvrir de nouvelles cultures tout en respectant l'environnement. Cependant, il peut parfois être difficile de savoir par où commencer lorsque l'on planifie un voyage éco-responsable. C'est pourquoi nous proposons des séjours inspirants pour vous aider à découvrir des destinations écologiques incroyables tout en minimisant votre impact environnemental. 
                Nos séjours inspirants sont conçus pour les voyageurs avides d'aventure et soucieux de l'environnement. Nous avons soigneusement sélectionné des destinations écologiques dans le monde entier, où vous pourrez découvrir des cultures uniques et des paysages à couper le souffle, tout en minimisant votre impact sur l'environnement.
                </p>
            </div>
        </div>
    </div>
</body>
{% endblock %}
